
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/2040728994808114844/671A99809194A02644F70B192122E041E99CEE11/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
}
a{
  text-decoration: none;
  color: white;
}
:root {
    --primary: rgb(0, 119, 255);
    --primary-light: rgb(79, 190, 255);
    --secondary: rgb(255, 48, 203);
    --secondary-light: rgb(255, 149, 229);
    --background-color: rgba(255, 5, 193, 0.774); 
    --border:white;
}


.Btns {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 7px solid var(--border);
    background-image: linear-gradient(to top, var(--primary) , var(--primary-light) );
    cursor: pointer;
    z-index: 8;
}
#navBar{
    position: fixed;
    z-index: 8;
}
#MNavBtn {
    background-image: linear-gradient(to top, var(--secondary-light) , var(--primary-light) );
    box-shadow: 0px 0px 10px var(--secondary-light);
}

.Btns i {
    font-size: 52px;
    color: var(--border);
}

#MNavBtn i{
    color: white;
}

@keyframes btnHov{
    from{font-size: 52px;}
    to{font-size: 60px;}
}
.selected{
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    box-shadow:0px 0px 20px var(--secondary-light);
}

#NavBtn1,#NavBtn2,#NavBtn3,#NavBtn9{
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );

}
@keyframes nav1A {
    from {top: 20px;}
    to {top: 170px;}
}
@keyframes nav2A {
    from {top: 20px;}
    to {top: 270px;}
}
@keyframes nav3A {
    from {top: 20px;}
    to {top: 370px;}
}
@keyframes nav4A {
    from {right: 20px;}
    to {right: 170px;}
}
@keyframes nav5A {
    from {right: 20px;}
    to {right: 270px;}
}
@keyframes nav6A {
    from {right: 20px;}
    to {right: 370px;}
}
@keyframes nav7A {
    from {right: 20px;}
    to {right: 470px;}
}
@keyframes nav8A {
    from {right: 20px;}
    to {right: 570px;}
}
@keyframes nav9A {
    from {top: 20px;}
    to {top: 470px;}
}



@keyframes nav1AR {
    to {top: 20px;}
    from {top: 170px;}
}
@keyframes nav2AR {
    to {top: 20px;}
    from {top: 270px;}
}
@keyframes nav3AR {
    to {top: 20px;}
    from {top: 370px;}
}
@keyframes nav4AR {
    to {right: 20px;}
    from {right: 170px;}
}
@keyframes nav5AR {
    to {right: 20px;}
    from {right: 270px;}
}
@keyframes nav6AR {
    to {right: 20px;}
    from {right: 370px;}
}
@keyframes nav7AR {
    from {right: 20px;}
    from {right: 470px;}
}
@keyframes nav8AR {
    to {right: 20px;}
    from {right: 570px;}
}
@keyframes nav9AR {
    to {top: 20px;}
    from{top: 470px;}
}


@keyframes MNavBtnA{
    from{
        background-image: linear-gradient(to top, var(--secondary-light) , var(--primary-light) );
    }
    to{
        background-image: linear-gradient(to top, red , rgb(255, 0, 0) );}
}
@keyframes MNavBtnAR{
    to{background-color:var(--primary);
        background-image: linear-gradient(to top, var(--secondary-light) , var(--primary-light) );
    }
    from{background-color:red;
        background-image: none;}
}
#noteApp{
    display: flex;
    flex-direction: row;
    
}
#slotCont{
    background-color: var(--border);
    position:fixed;
    width: 25%;
    height: calc(100% - 50px); 
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    z-index: 7;
    border: 6px solid var(--border);
    border-bottom:0px;
    justify-content: space-around;
}
.slot{
    width: 100%;
    height: 10.5%;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--primary) , var(--primary-light) );
    border-radius: 10px;
    z-index: 5;
}

.first{
    width: 100%;
    height: 11%;
    background-image: linear-gradient(to right, var(--secondary-light),var(--primary-light));
    border-radius: 10px;
    text-align: center;
}
.slot:hover{
    background-image: linear-gradient(to right, var(--secondary) , var(--secondary-light) );
    opacity: 50%;
}
.slotTit{
    color: var(--border);
    margin-top: 3%;
    margin-left: 10px;
    font-size: 35px;
    display: inline-block;

}
::placeholder{
    color: rgba(255, 255, 255, 0.575);
}
.noteArea{
    position: fixed;
    width: 72%;
    height: calc(100% - 50px); 
    background-color: var(--background-color);
    left: 28%;
    top: 0px;
    padding: 10px;
    border: 10px solid var(--secondary); 
    display: none;
    
}
.noteArea input{
    width: 85%;
    border: 0px solid;
    font-size: 42px;
    background: none;   
    color: var(--border);
    margin: 10px;
    text-decoration: underline;
}
.noteArea textarea{
    color: var(--border);
    font-size: 22px;
    background: none;
    width: 100%;
    border: 0px solid;
    margin: 10px;
    margin-top: 20px;
    height: 83%;
}


::-webkit-scrollbar {
    width: 10px;
}  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px var(--primary); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary); 
    border-radius: 10px;
}

#infoCont p{
    background: none;
    border: 0px;
    height: 100%;
    color: var(--border);
    font-size: 1.5em;
    width: 25%;
    text-align: center;
    border-right: 9px solid var(--border);
}

#infoCont{
    display: flex;
    flex-direction: row;
    justify-content: left;
    position:absolute;
    bottom: 0px;
    right: 0px;
    border: 9px solid var(--border);
    background-image: linear-gradient(to top, var(--primary) , var(--primary-light) );
    width:100%;
    height:50px;
}
#FCBtn{
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    border: 0px;
    color: var(--border) ;
    font-size: 23px;
    justify-self: right;
    box-shadow: 0px 0px 20px var(--secondary-light);
    width: 36px;

}

.menus-container {
    position: absolute;
    display: block;
    left: 27%;
}

.menus {
    position: absolute;
    width: 600px;
    z-index: 10;
    border-radius: 20px;
    border: 7px solid var(--border);
    background-image: linear-gradient(to top, var(--primary), var(--primary-light));
    padding: 10px;
    top: -500px;
    box-shadow: 0px 0px 10px var(--secondary-light);
    display: none;
}

.Mtitle{
    color: var(--border);
    width: 100%;
    text-align: center;
    font-weight: bolder;
    border-bottom: 3px solid var(--border);
    display:block;
}
.close {
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    font-size: 20px;
    border: 0pc solid;
    border-radius: 10px;
}


.Mtext{
    color: var(--border);
    font-weight: bolder;
    font-size: 20px;
}
.colorPicker{
    border: 2px solid var(--border);
    border-radius: 2px;
    justify-self: end;
}


::-webkit-file-upload-button{
    color: var(--border);
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    border-radius: 10px;
    border:3px solid var(--border);
    cursor: pointer;

}
::-webkit-file-upload-button:hover{
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary) );
}

@keyframes MdropDown{
    0%{top:-900px;}
    80%{top: 135px;}
    90%{top: 135px;}
    100%{top: 130px;}
}
@keyframes RdropDown{
    from{top: 130px;}
    to{top: -900px;}
}


#linkSubmit{
    color: var(--border);
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    border-radius: 10px;
    border:3px solid var(--border);
    width: 100px;
    margin-left: 110px;
    font-weight: bolder;
}
#linkSubmit:hover{
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary) );
}
#linkInput{
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    border-radius: 10px;
    border:3px solid var(--border);
    margin-bottom: 10px;
    color: var(--border);
    width: 350px;
    padding-left: 10px;
}


#myIframe{
    border-radius: 10px;
}

#planCont{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    border: 4px solid var(--border);
    border-radius:10px ;
    margin-top: 5px;
}

.plan{
    color: var(--border);
    border-bottom:2px solid var(--border);
    margin: 0px;
    display:flex;
    flex-direction: row;

}
.plan p{
    width: 60px;
    margin: 0px;
    text-align: center;
    border-right: 5px solid var(--border) ;
}
.plan input{
    height: 24px;
    width: 100%;
    background: none;
    border: none;
    color: var(--border);
    padding: 5px;
}

.blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
}
#homeBG{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px); 
  overflow: hidden;
  background-color: rgb(63, 0, 63);
  border: 10px solid var(--secondary);
}
#closeSlots{
    position: absolute;
    top: 0%;
    left: 25%;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--secondary-light),var(--secondary));
    border: 0px solid var(--border);
    width: 4%;
    height: calc(100% - 50px); 
    z-index: 9;
    color: var(--border);
    font-size: 40px;
    z-index: 7;

}

@keyframes closeSlotsA{
    from{left: 0%;}
    to{left: -25%;}
}
@keyframes closeSlotsB{
    from{left: 25%;}
    to{left: 0%;}
}
@keyframes wideNote{
    from{width: 72%;
    left: 28%;}
    to{width: 97%;
    left: 3%;}
}

@keyframes closeSlotsAR{
    to{left: 0%;}
    from{left: -25%;}
}
@keyframes closeSlotsBR{
    to{left: 25%;}
    from{left: 0%;}
}
@keyframes wideNoteR{
    to{width: 72%;
    left: 28%;}
    from{width: 97%;
    left: 3%;}
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@keyframes rotateR {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(180deg);
    }
}
.closeSlots{
    display: flex;
    align-items: center;
    justify-content: center;
}
#lastInfo:hover{
    animation: shortcut 2s forwards;
    background-image: linear-gradient(to top, var(--secondary),var(--secondary-light));
}
#shortcuts{
    position: absolute;
    width: 35%;
    left: 100%;
    bottom: 8%;
    height: fit-content;
    padding: 10px;
    display: flex;
    border: 9px solid var(--border);
    border-bottom: 0px;
    font-size: 20px;
    color: var(--border);
    background-image: linear-gradient(to top, var(--primary-light) , var(--primary) );
    z-index: 5;
}
#alt{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, var(--secondary-light) , var(--secondary) );
    border-radius: 10px;
    width: 120px;
    padding-left: 10px;
    height: 100%;
}
#sk{
    padding-left: 5px;
}
@keyframes shortcutsA{
    from{left:100%;}
    to{left: 65%;}
}
@keyframes shortcutsAR{
    to{left:100%;}
    from{left: 65%;}
}
#home{
    position: absolute;
    right: 20px;
    bottom: 80px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: var(--secondary);
    opacity: 50%;
    display: none;
}
#home:hover{
    opacity: 100%;
    cursor: pointer;
}
#clover{
    position: absolute;
    z-index: 1;
    left: 6%;
    bottom: 8%;
    z-index: 0;
    opacity: 40%;
    color: white;
    text-align: center;
    font-weight: bolder;
    display: block;
}
#clover a img{
    width: 97px;
}
#clover:hover{
    animation: forwards appear 0.3s;
}
#homepage{
    position: absolute;
    z-index: 1;
    left: 6%;
    top: 3%;
    z-index: 0;
    opacity: 40%;
}
#homepage a img{
    width: 97px;
}
#homepage:hover{
    animation: forwards appear 0.3s;
}
@keyframes appear{
    from{opacity: 40%;}
    to{opacity: 100%;}
}
#images{
    color: var(--border);
}
#imageContainer {
    background-image: linear-gradient(to bottom, var(--secondary-light) , var(--secondary) );
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin: 0px;
    border: 5px solid var(--border);
    border-radius: 10px;
    margin-top: 10px;  
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}


#imageContainer img{
    width: 165px;
    margin: 10px;
    max-height: 165px;
    border-radius: 10px;
}
#deleteBtn{
    color: var(--border);
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    border-radius: 10px;
    border:3px solid var(--border);
    width: 200px;
    margin-left: 60px;
}
#deleteBtn:hover{
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary) );
}
#imageBtns ::-webkit-file-upload-button{
    width: 300px;
}

.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    var(--primary) 0%,
    var(--secondary) 29%,
    var(--primary) 67%,
    var(--secondary) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  text-align: center;
  font-weight: bolder;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#homeInfo{
  color: white;
  padding: 30px;
  position: absolute;
  width: 100%;
}

.homeText{
  font-size: 20px;
}
.homeTitle{
  background-size: auto auto;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}
.feature{
  font-size: 30px;
  color: rgb(49, 0, 226);
}
#noteFC{
  border: 2px solid rgb(255, 17, 255);
  border-radius: 10px;
  text-align: center;
  color: rgb(255, 17, 255);
  background-color: white;
  font-weight: bolder;
  cursor: pointer;
}
#features{
  display: flex;
}
.featureCont{
  width: 25%;
  margin: 1%;
  margin-left: 0%;
  padding: 10px;
  border-radius: 10px;
  border: 7px solid var(--primary-light);
  background: linear-gradient(-45deg, var(--primary), var(--primary-light), var(--primary), var(--primary-light));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.NoteOSBtn{
  width: 99%;
  background: linear-gradient(-45deg, var(--secondary), var(--secondary-light), var(--secondary), var(--secondary-light)); 
  border: 7px solid var(--secondary-light);
  text-align: center;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
}
.NoteOSBtn h2{
  font-weight: bolder;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .container {
    position: relative;
    height: 400px;
    margin: 0 auto;
    padding: 5px;
    color: var(--border);
    display: flex;
  
    border-radius: 10px;
    background-image: linear-gradient(to bottom, var(--secondary-light) , var(--secondary) );
    border: 5px solid var(--border);
  }
  .left {
    width: 60%;
    padding: 20px;
  }
  .calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--border);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, var(--primary-light) , var(--primary) );
    border: 3px solid var(--border);
  }

  .calendar .month {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    
  }
  .calendar .month .prev,
  .calendar .month .next {
    cursor: pointer;
  }
  .calendar .month .prev:hover,
  .calendar .month .next:hover {
    color: var(--primary);
  }
  .calendar .weekdays {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .calendar .days .day {
    width: 14.28%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--border);
    border: 1px solid var(--border);
  }
  .calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid var(--border);
  }
  .calendar .days .day:nth-child(7n) {
    border-right: 2px solid var(--border);
  }
  .calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid var(--border);
  }
  .calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid var(--border);
  }
  
  .calendar .days .day:not(.prev-date, .next-date):hover {
    color: var(--border);
    background-color: var(--secondary);
  }
  .calendar .days .prev-date,
  .calendar .days .next-date {
    color: var(--border);
  }
  .calendar .days .active {
    position: relative;
    font-size: 1.3rem;
    color: var(--border);
    background-color: var(--secondary);
  }
  .calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--secondary);
  }
  .calendar .days .today {
    font-size: 1.3rem;
    background-color: var(--secondary);
    color: var(--border);
  }
  .calendar .days .event {
    position: relative;
  }
  .calendar .days .event::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 75%;
    height: 2px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--border);
  }
  .calendar .days .day:hover.event::after {
    background-color: #fff;
  }
  .calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
  }
  .calendar .days .active.event {
    padding-bottom: 10px;
  }
  .calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--border);
  }
  .calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border:3px solid var(--border);
  }
  .calendar .goto-today .goto input {
    width: 100%;
    height: 34px;
    color: var(--border);
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    width: 100px;
    font-weight: bolder;
    border: 0px;
    padding-left: 10px;
    }
  
  .calendar .goto-today button {
    padding: 5px 10px;
    border:3px solid var(--border);
    border-radius: 10px;
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    cursor: pointer;
    color: var(--border);
  }

  .calendar .goto-today button:hover {
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary) );
  }
  .calendar .goto-today .goto button {
    border: none;
    border-radius: 0;
    border-left:3px solid var(--border);
  }
  .container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 0px 0;
  }
  
  .right .today-date {
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 70px;
    text-transform: capitalize;
  }
  .right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
  }
  .right .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: var(--border);
  }
  .events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
  }
  .events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 15px;
    color: var(--border);
    background: linear-gradient(90deg,var(--primary), var(--primary-light));
    cursor: pointer;border-radius: 10px;
  }
  /* even event */
  .events .event:nth-child(even) {
    background: transparent;
  }
  .events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
  }
  .events .event .title .event-title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
  }
  .events .event i {
    color: var(--primary);
    font-size: 0.5rem;
  }
  .events .event:hover i {
    color: var(--border);
  }
  .events .event .event-time {
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--primary);
    margin-left: 15px;
    pointer-events: none;
  }
  .events .event:hover .event-time {
    color: var(--border);
  }
  /* add tick in event after */
  .events .event::after {
    content: "❌";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--primary);
    transform: translateY(-50%);
  }
  .events .event:hover::after {
    display: flex;
  }
  .add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--border);
    border: solid 2px var(--border);
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  .add-event:hover {
    opacity: 1;
  }
  .add-event i {
    pointer-events: none;
  }
  .events .no-event {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--border);
  }
  .add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 10px;
    background-image: linear-gradient(to top, var(--primary) , var(--primary-light) );
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
  }
  .add-event-wrapper.active {
    max-height: 250px;
    border: 3px solid var(--border);

  }
  .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: var(--border);
    border-bottom: 1px solid var(--border);
  }
  .add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .add-event-header .close:hover {
    color: var(--primary);
  }
  .add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }
  .add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    
  }
  .add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--border);
    width: 100%;
    height: 34px;
    border-radius: 10px;
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    font-weight: bolder;
    border: solid var(--border) 3px;
  }

  .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 0px;    
}
  .add-event-footer .add-event-btn {
    padding: 5px 10px;
    border:3px solid var(--border);
    border-radius: 10px;
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary-light) );
    cursor: pointer;
    color: var(--border);
    margin-bottom: 15px;
    height: 30px;
    font-size: 13px;
  }
  .add-event-footer .add-event-btn:hover {
    background-image: linear-gradient(to top, var(--secondary) , var(--secondary) );
  }
  
  /* media queries */
  
  @media screen and (max-width: 1000px) {
    .container {
      min-height: 100vh;
      flex-direction: column;
      border-radius: 0;
    }
    .container .left {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .container .right {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .calendar::before,
    .calendar::after {
      top: 100%;
      left: 50%;
      width: 97%;
      height: 12px;
      border-radius: 0 0 5px 5px;
      transform: translateX(-50%);
    }
    .calendar::before {
      width: 94%;
      top: calc(100% + 12px);
    }
    .events {
      padding-bottom: 340px;
    }
    .add-event-wrapper {
      bottom: 100px;
    }
  }
  @media screen and (max-width: 500px) {
    .calendar .month {
      height: 75px;
    }
    .calendar .weekdays {
      height: 50px;
    }
    .calendar .days .day {
      height: 40px;
      font-size: 0.8rem;
    }
    .calendar .days .day.active,
    .calendar .days .day.today {
      font-size: 1rem;
    }
    .right .today-date {
      padding: 20px;
    }
  }
  
  .credits {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #b38add;
  }
  .credits a {
    text-decoration: none;
    font-weight: 600;
  }
  .credits a:hover {
    text-decoration: underline;
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  

.box {
	position: absolute;
	width: 400px;
	height: 200px;
	background: repeating-conic-gradient(
		from var(--a),
		#ff2770 0%,
		#ff2770 5%,
		transparent 5%,
		transparent 40%,
		#ff2770 50%
	);
	border-radius: 20px;
	animation: animate 4s linear infinite;
}
.box::before,
.box::after {
	content: "";
	position: absolute;
}
.box::before {
	width: 100%;
	height: 100%;
	background: repeating-conic-gradient(
		from var(--a),
		#45f3ff 0%,
		#45f3ff 5%,
		transparent 5%,
		transparent 40%,
		#45f3ff 50%
	);
	border-radius: 20px;
	animation: animate 4s linear infinite;
	animation-delay: -1s;
}
.box::after {
	inset: 8px;
	background: #2d2d39;
	border-radius: 15px;
}

@property --a {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}
@keyframes animate {
	0% {
		--a: 0deg;
	}
	100% {
		--a: 360deg;
	}
}
#noteOS{
  position: absolute;
  color: white;
  position: absolute;
  font-size: 60px;
  font-weight: bolder;
}

.preloader{
	position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #292929; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.preloader.fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    visibility: hidden;
  } 
  100%{
    display: none;
  }
}
#welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #292929;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 10px solid var(--secondary);
  
}
.wordContainer {
	overflow: hidden;
}

@keyframes up {
	100% {
		transform: translateY(0%);
	}
}

.word {
	animation: up 0.8s;
	animation-delay: 1.2s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: translateY(115%);
}

.textWrapper .wordContainer:nth-child(2) .word {
	animation-delay: 1.35s;
}
.textWrapper .wordContainer:nth-child(3) .word {
	animation-delay: 1.5s;
}
.textWrapper .wordContainer:nth-child(4) .word {
	animation-delay: 1.65s;
}


.header {
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
  animation: allup 0.8s;
	animation-delay: 2.7s;
	animation-fill-mode: forwards;
  top: 0%;

}
.textWrapper {
	font-weight: 800;
	font-size: 66px;
	color: #fff;
}
.wordContainer {
	float: left;
}
#firstConta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;


  width: fit-content;
  height: fit-content;
  margin-top: 150px;
  
  
}
#Imsomad{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  animation: 0.5s forwards appearA;
  animation-delay: 3.5s;
  opacity: 0;
}
.firstT{
  animation: 0.5s forwards appearA;
  animation-delay: 3.5s;
  opacity: 0;
  text-decoration: none;
  
}

.Home {
  border-radius: 10px;
  text-align: center; 
  animation: 0.5s forwards appearA;
  animation-delay: 4s;
  opacity: 0;
  cursor: pointer;
  padding: 10px;
}

#continue{
  position: absolute;
  margin-right: 20px;
  color:#747474;
  opacity: 50%;
  bottom: 0px;
  cursor: pointer;
  right: 0px;
  margin-bottom: 10px;
}
#continue:hover{
  opacity: 99%;
  text-decoration: underline;
}
.e{
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(-45deg, var(--secondary), var(--secondary-light), var(--secondary), var(--secondary-light));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  cursor: pointer;
  margin: 20px;
  width: 400px;
  text-align: center;

}
#otherBtn{
  background: linear-gradient(-45deg, var(--primary), var(--primary-light), var(--primary), var(--primary-light));
  background-size: 400% 400%;
  border-radius: 10px;
}
.e:hover{
  padding: 12px;
}
#woo{
  position: absolute;
  width: 80%;
  top: 35%;
  color: #b6b6b6;
}
@keyframes allup{
  to{
  top: -40%;}
}
@keyframes welcomeA{
  0%{  transform: translate(-50%, -50%);}
  100%{  transform: translate(-50%, -150%);} 
}
@keyframes appearA{
  from{opacity: 0%;}
  to{opacity: 100%;}
}
